env/
.idea/
.vscode/

*.arpa
*.bin

## Just in case, don't push data that we needed permission to get.
data/original_dataset
data/pan21-author-profiling-training-2021-03-14.zip

data/err.txt

models/
results/

src/fasttext-supervised/pan2021*

src/simpletransformers-bert/cache/
src/simpletransformers-bert/outputs/
src/simpletransformers-bert/runs/

